




body {
	background: #fff;
	margin: 0px;
	font-family: 'Roboto', sans-serif;	
}


.logo {
	font-weight: 300;
	text-decoration: none;
	font-size: 20pt;
	display: block;
	color: #fff;
	text-decoration: 1px 1px 0px #000;
}

.logo span {
	color: #aaa;
}

.container {
	margin: 0 auto;
	width: 1024px;
}

#header {
	padding: 10px;
	color: #aaa;
	background: #222;
	background: #161616;
	background: linear-gradient(to right,  #161616 0%,#3f3f3f 100%);
	font-weight: 300;
	
}
#header p {
	margin: 0px;
	padding: 0px;
}

.left {
	float: left;
}

.right {
	font-size: 1.05em;
	float: right;
	margin-top: 0.4em;
	margin-right: 10px;
}


#header a {
	color: #ddd;
	text-decoration: none;
}

#header a:hover {
	color: #fff;
}

#header .right {
	margin-top: 0.9em;
}

#header .right a {
	display: inline;
	padding: 5px 10px;
}

.home-btn {
	
	border-radius: 3px;
	
	margin-left: 20px;
	display: inline-block;
	
	color: #fff !important;
	box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,0.4);
}

.home-btn:hover { 
	box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,1);
}


.post-listing {
	margin: 3em 0;
	display: grid;
    grid-gap: 3em;
	grid-template-columns: 1fr 1fr;
	font-size: 1.2em;
	font-weight: 300;
}

button {
	background: #000;
	color: #fff;
	padding: 0.5em 1.0em;
	border: none;
	font-size: 0.8em;
	border-radius: 6px;
	cursor: pointer;
}

button:hover {
	background: #26ae90;
}

button:focus {
	outline:0;
}



.post-preview {
	color: #444;
	text-decoration: none;
}

.post-preview h1 {
	font-weight: 400;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	font-size: 1.2em;
}

.post-preview:hover h1 {
	text-decoration: underline;
	color: #000;
}

.post-preview p {
	margin: 0px;
	padding: 0.5em 0;
	text-decoration: none;
	color: #777;
}


.post-preview .pad {
	margin-top: 5px;
	padding: 0px 0px;
}



.img-container {
	width: 100%;
	height: 128px;
	overflow: hidden;
	margin: 1em 0;
	border-radius: 10px;
	
}

.img-container:before {
	content: ' ';
	display: block;
	z-index: 100;
	width: 100%;
	height: 128px;
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2), inset 0px 0px 0px 1px rgba(0,0,0,0.04);
	border-radius: 10px;
	z-index: 20;
	position: relative;
}

.post-preview .pad .img-container img {
	z-index: 10;
	position: relative;
	top: -128px;
	width: 100%;
	height: auto;
	
	overflow: hidden;
	
	-webkit-transition: all 0.2s ease; /* Safari and Chrome */
	-moz-transition: all 0.2s ease; /* Firefox */
	-ms-transition: all 0.2s ease; /* IE 9 */
	-o-transition: all 0.2s ease; /* Opera */
	transition: all 0.2s ease;
}

.post-preview:hover .pad .img-container img {
	-webkit-transform:scale(1.15);
	-moz-transform:scale(1.15);
	-ms-transform:scale(1.15);
	-o-transform:scale(1.15);
	transform:scale(1.15);
}


.btn {
	display: inline-block;
	margin: 15px 0px 0px 0px;
	color: #777;
	padding: 6px 12px;
	border: 3px solid #ccc;
	font-weight: 400;
	border-radius: 5px;
}

.post-preview:hover .btn {
	border-color: #333;
	color: #333;
}

.btn i {
	margin-left: 0.3em;
}



article {
	color: #333;
	overflow: hidden;
	font-weight: 300;
	font-size: 1.5em;
}








article section {
	display: block;
	min-height: 200px;
	color: #5a5c5e;
	margin: 0px auto 0px auto;
}

article section a {
	color: #26ae90;
}

article section a:hover {
	color: #0b6b6a;
}

article section p {
	margin: 1.6em 0;
}


article section h1, article section h2 {
	font-weight: 900;
	color: #000;
}

h1 {
	margin-top: 50px;
}
h2 {
	margin-top: 3em;
	margin-bottom: -0.5em;
	clear: both;
}

article section h1 {
	font-size: 30pt;
}

article section h2 {
	font-size: 20pt;
}

h4 {
	font-size: 12pt;
	margin-top: 60px;
	padding-bottom: 10px;
	color: #666;
	text-shadow: 1px 1px 0px #fff;
	text-transform: uppercase;
}




article section table {
	padding: 0;
	
	border-spacing: 0px;
	border-collapse: collapse;
}

table tr {
	border-top: 1px solid #cccccc;
	margin: 0;
	padding: 0;
	font-size: 0.8em;
}
table tr:nth-child(2n) {
	background-color: #f8f8f8;
}
table tr th {
	font-weight: bold;
	border: 1px solid #cccccc;
	text-align: left;
	margin: 0;
	padding: 6px 13px;
}
table tr td {
	border: 1px solid #cccccc;
	text-align: left;
	margin: 0;
	padding: 6px 13px;
}
table tr th :first-child, table tr td :first-child
{
	margin-top: 0;
}
table tr th :last-child, table tr td :last-child {
	margin-bottom: 0;
}

.rouge-table tr, .rouge-table td {
	border: none !important;
}
	  

article section em {
	font-style: italic;
	color: #000;
}

article section strong {
	font-weight: 700;
	color: #000;
}


article section blockquote p:before, article section blockquote p:after {
	font-size: 30pt;
	position: absolute;
	color: #ddd;
}

article section blockquote p:before {
	content: "\201C";
	margin-left: -20px;
}

article section blockquote p:after {
	content: "\201D";
	margin-top: 5px;
}

article section blockquote {
	padding: 0px 1em;
	font-size: 18pt;
	line-height: 1.4em;
	color: #aaa;
}

blockquote + p cite:before {
	content: "\2014 ";
}

blockquote + p cite {
	font-style: italic;
	display: block;
	margin: -1.6em 1em 0px 1em;
}

article section ul {
	list-style: square;
	margin: 0px 1em;
}

article section ol {
	list-style: decimal;
	margin: 0px 1em;
}

article section li {
	margin: 1em;
}

article section hr {
	border: none;
	border-bottom: 1px solid #dcddde;
}

figure {
	margin: 0;
	padding: 0;
}
article section pre {
	margin: 0;
	padding: 0em;
	font-family: Courier, "Courier New" !important;
	font-size: 10pt;
	line-height: 1em;
	color: #000;

	
	
}

article section .highlight pre {
	line-height: 1.2em;
	background: none;
}

article section .highlight {
	font-family: Courier, "Courier New" !important;
	font-size: 10pt;	

	background: rgba(121,159,190,0.1);
	box-shadow: inset -6px 0px 0px 0px rgba(0,0,0,0.025);
	padding: 1em;

	border-radius: 8px;
	border: 1px solid rgba(0,0,0,0.1);
	
		
	
	color: #555;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.75);
	
	
}

article section .highlight pre {

	word-wrap: break-word;
}

#article-nav {
	margin: 2em auto 0px auto;
	text-transform: uppercase;
}

#article-nav a {
	color: #26ae90;
	text-decoration: none;
}

#article-nav a:hover {
	color: #0b6b6a;
}


#article-nav a[rel='prev'] {
	float: left;
}

#article-nav a[rel='next'] {
	float: right;
}

/* clearfix */
#article-nav:after {
	content: ' ';
	display: block;
	clear: both;
}


.highlight {
	margin: 2em 0;
}

.highlight pre p {
	margin: 0px !important;
	padding: 0px !important;
}


#footer {
	font-size: 10pt;
	background: rgba(121,129,140,0.2);
	margin-top: 3em;
	padding: 50px 50px;
	color: #969ba3;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
	
	box-shadow:
		0px 0px 20px 10px #fff
		, inset 0px 0px 10px 0px rgba(0,0,0,0.1)
		;
}

#error404 {
	font-family: 'Josefin Slab', serif;
	font-size: 20pt;
	text-align: center;
	padding: 200px 0px;
}


#disqus_thread {
	color: #f00;
}

#disqus_thread a {
	color: #26ae90 !important;
}


.screenshot {
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2), 0px 0px 0px 1px rgba(0,0,0,0.1);
	border-radius: 6px;
	margin: 1em;
}