




body {
	/*background: rgb(241, 244, 249);*/
	background: #fff;
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Josefin Slab', serif;*/
	
	
	background: #f2f2f2;
	background: -moz-linear-gradient(left,  #f2f2f2 0%, #ffffff 8%, #ffffff 8%, #ffffff 92%, #f2f2f2 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f2f2f2), color-stop(8%,#ffffff), color-stop(8%,#ffffff), color-stop(92%,#ffffff), color-stop(100%,#f2f2f2));
	background: -webkit-linear-gradient(left,  #f2f2f2 0%,#ffffff 8%,#ffffff 8%,#ffffff 92%,#f2f2f2 100%);
	background: -o-linear-gradient(left,  #f2f2f2 0%,#ffffff 8%,#ffffff 8%,#ffffff 92%,#f2f2f2 100%);
	background: -ms-linear-gradient(left,  #f2f2f2 0%,#ffffff 8%,#ffffff 8%,#ffffff 92%,#f2f2f2 100%);
	background: linear-gradient(to right,  #f2f2f2 0%,#ffffff 8%,#ffffff 8%,#ffffff 92%,#f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f2f2f2',GradientType=1 );
	
}


.logo {
	font-family: 'Josefin Slab', serif;
	text-decoration: none;
	font-size: 20pt;
	display: block;
	color: #fff;
	text-decoration: 1px 1px 0px #000;
}

.logo span {
	color: #aaa;
}

#header {
	padding: 10px;
	color: #aaa;
	background: #222;
	
	background: #161616;
	background: -moz-linear-gradient(left,  #161616 0%, #3f3f3f 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#161616), color-stop(100%,#3f3f3f));
	background: -webkit-linear-gradient(left,  #161616 0%,#3f3f3f 100%);
	background: -o-linear-gradient(left,  #161616 0%,#3f3f3f 100%);
	background: -ms-linear-gradient(left,  #161616 0%,#3f3f3f 100%);
	background: linear-gradient(to right,  #161616 0%,#3f3f3f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161616', endColorstr='#3f3f3f',GradientType=1 );
	
}
#header p {
	margin: 0px;
	padding: 0px;
}

.left {
	float: left;
}

.right {
	float: right;
	margin-right: 10px;
}

#header a {
	color: #ddd;
	text-decoration: none;
}

#header a:hover {
	color: #fff;
}




/* clearfix */
.post-listing:after {
	content: ' ';
	display: block;
	clear: both;
}

.post-preview {
	display: block;
	margin: 0px;
	padding: 0px;
	width: 25%;
	float: left;
	overflow: hidden;
	min-height: 300px;
	box-shadow: inset 4px 0px rgba(60,60,60,0.05);
}


@media screen and (max-width: 2400px) {
	.post-preview { width: 12.49%; }
}

@media screen and (max-width: 2000px) {
	.post-preview { width: 14.26%; }
}

@media screen and (max-width: 1700px) {
	.post-preview { width: 19.99%; }
}

@media screen and (max-width: 1300px) {
	.post-preview { width: 24.99%; }
}

@media screen and (max-width: 1100px) {
	.post-preview { width: 33.33%; }
}

@media screen and (max-width: 800px) {
	.post-preview { width: 50%; }
}


@media screen and (max-width: 500px) {
	.post-preview { width: 100%; }
}



a.post-preview {
	color: #444;
	text-decoration: none;
}

.post-preview h1 {
	font-size: 20pt;
	text-underline: none;
	line-height: 18pt;
	margin: 0px;
	padding: 0px;
	padding: 10px 0px 0px 0px;
	min-height: 55px;
}

.post-preview:hover h1 {
	text-decoration: underline;
	color: #000;
}

.post-preview p {
	margin: 0px;
	padding: 10px 0px 0px 0px;
	text-underline: none;
	color: #777;
}

.post-preview.text {
	-webkit-font-smoothing: antialiased;
	font-size: 10pt;
}

.post-preview .pad {
	margin-top: 5px;
	padding: 0px 20px;
}



.img-container {
	width: 100%;
	height: 60px;
	overflow: hidden;
	margin: 5px 0px 5px 0px;
	
}

.img-container:before {
	content: ' ';
	display: block;
	z-index: 100;
	width: 100%;
	height: 60px;
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
	z-index: 20;
	position: relative;
}

.post-preview .pad .img-container img {
	z-index: 10;
	position: relative;
	top: -60px;
	width: 100%;
	height: auto;
	
	overflow: hidden;
	
	-webkit-transition: all 0.2s ease; /* Safari and Chrome */
	-moz-transition: all 0.2s ease; /* Firefox */
	-ms-transition: all 0.2s ease; /* IE 9 */
	-o-transition: all 0.2s ease; /* Opera */
	transition: all 0.2s ease;
}

.post-preview:hover .pad .img-container img {
	-webkit-transform:scale(1.15);
	-moz-transform:scale(1.15);
	-ms-transform:scale(1.15);
	-o-transform:scale(1.15);
	transform:scale(1.15);
}


.btn {
	display: inline-block;
	margin: 15px 0px 0px 0px;
	color: #777;
	padding: 6px 12px;
	border: 3px solid #ccc;
	font-weight: bold;
	border-radius: 5px;
}

.post-preview:hover .btn {
	border-color: #333;
	color: #333;
}


.home-btn {
	padding: 5px 10px;
	border-radius: 3px;
	margin-top: 7px;
	margin-left: 20px;
	display: inline-block;
	
	color: #fff !important;
	box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.4);
}

.home-btn:hover { 
	box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,1);
}


article {
	color: #333;
	overflow: hidden;
}








article section {
	display: block;
	min-height: 200px;
	color: #5a5c5e;
	width: 800px;
	margin: 0px auto 0px auto;
}

article section a {
	color: #26ae90;
}

article section a:hover {
	color: #0b6b6a;
}

article section p {
	margin: 1.6em 0;
}


article section h1, article section h2 {
	font-weight: 700;
	color: #000;
	margin-top: 50px;
}

article section h1 {
	font-size: 30pt;
}

article section h2 {
	font-size: 20pt;
}

h4 {
	font-size: 12pt;
	margin-top: 60px;
	padding-bottom: 10px;
	color: #666;
	text-shadow: 1px 1px 0px #fff;
	text-transform: uppercase;
}

h4 + .highlight {
	margin-top: -80px !important;
	padding-top: 80px !important;
}



article section table {
	padding: 0;
	
	border-spacing: 0px;
	border-collapse: collapse;
}

table tr {
	border-top: 1px solid #cccccc;
	background-color: white;
	margin: 0;
	padding: 0;
}
table tr:nth-child(2n) {
	background-color: #f8f8f8;
}
table tr th {
	font-weight: bold;
	border: 1px solid #cccccc;
	text-align: left;
	margin: 0;
	padding: 6px 13px;
}
table tr td {
	border: 1px solid #cccccc;
	text-align: left;
	margin: 0;
	padding: 6px 13px;
}
table tr th :first-child, table tr td :first-child
{
	margin-top: 0;
}
table tr th :last-child, table tr td :last-child {
	margin-bottom: 0;
}
	  
	  

article section em {
	font-style: italic;
	color: #000;
}

article section strong {
	font-weight: 700;
	color: #000;
}


article section blockquote p:before, article section blockquote p:after {
	font-size: 30pt;
	position: absolute;
	color: #ddd;
}

article section blockquote p:before {
	content: "\201C";
	margin-left: -20px;
}

article section blockquote p:after {
	content: "\201D";
	margin-top: 5px;
}

article section blockquote {
	padding: 0px 1em;
	font-size: 18pt;
	line-height: 1.4em;
	color: #aaa;
}

blockquote + p cite:before {
	content: "\2014 ";
}

blockquote + p cite {
	font-style: italic;
	display: block;
	margin: -1.6em 1em 0px 1em;
}

article section ul {
	list-style: square;
	margin: 0px 1em;
}

article section ol {
	list-style: decimal;
	margin: 0px 1em;
}

article section li {
	margin: 1em;
}

article section hr {
	border: none;
	border-bottom: 1px solid #dcddde;
}

article section pre {
	font-family: Courier, "Courier New" !important;
	font-size: 10pt;
	line-height: 1em;
	color: #000;
	background: rgba(228,230,232,0.2);
	padding: 10px;
	box-shadow: inset -6px 0px 0px 0px rgba(0,0,0,0.025);
}

article section .highlight pre {
	line-height: 1.2em;
	background: none;
	padding: 0px;
}

article section .highlight {
	font-family: Courier, "Courier New" !important;
	font-size: 10pt;	
	
	/* yes, this is trickery */
	margin: 0px -1000px 0px -1000px;
	
	
	background: rgba(121,159,190,0.1);
	padding: 50px 0px;
	color: #555;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.75);
	
	box-shadow:
		0px -1px 0px 0px rgba(255,255,255,0.4)
		, 0px 0px 20px 10px rgba(255,255,255,0.75)
		, inset 0px 3px 20px 3px rgba(0,0,0,0.15)
		, 0px -5px 10px 0px rgba(157,174,191,0.5)
		;
}

article section .highlight pre {
	width: 800px;
	margin: 0px auto 0px auto;
	word-wrap: break-word;
}

#article-nav {
	padding: 4px 8px;
	margin: 10px auto 0px auto;
	width: 800px;
	text-transform: uppercase;
}

#article-nav a {
	color: #26ae90;
	text-decoration: none;
}

#article-nav a:hover {
	color: #0b6b6a;
}


#article-nav a[rel='prev'] {
	float: left;
}

#article-nav a[rel='next'] {
	float: right;
}

/* clearfix */
#article-nav:after {
	content: ' ';
	display: block;
	clear: both;
}

p > code {
	padding: 4px 2px;
	background: rgba(0,0,0,0.05);
}


.post-preview #bsa {
	margin-top: 15px;
	padding-left: 4%;
}


#footer {
	font-size: 10pt;
	background: rgba(121,129,140,0.2);
	
	
	padding: 50px 50px;
	color: #969ba3;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
	
	box-shadow:
		0px 0px 20px 10px #fff
		, inset 0px 0px 10px 0px rgba(0,0,0,0.1)
		;
}

#error404 {
	font-family: 'Josefin Slab', serif;
	font-size: 20pt;
	text-align: center;
	padding: 200px 0px;
}


#disqus_thread {
	color: #f00;
}

#disqus_thread a {
	color: #26ae90 !important;
}


