---
layout: default
title: Welcome
---

<div class="post-listing">	
	{% assign counter = 0 %}
	{% for page in paginator.posts %}

		{% capture counter %}{{ counter | plus:1 }}{% endcapture %}
		{% if counter == "4" %}
		<span class="post-preview text">
			<div id="bsa">
				<script type="text/javascript" src="http://cdn.adpacks.com/adpacks.js?legacyid=1285933&zoneid=1386&key=3df5e2ea1c6a237386fb9d4cdf5b99f0&serve=C6SD52Y&placement=subprotocolcom&circle=dev" id="_adpacks_js"></script>
			</div>
		</span>
		{% endif %}
			
		<a class="post-preview text" href="{{ page.url }}">
			<div class="pad">

			<h1>{{ page.title }}</h1>
			
			{% if page.image %}
				<div class="img-container">
					<img src="{{ page.image }}" />
				</div>
			{% endif %}
			
			<p>{{ page.synopsis }}</p>
			
			<!--<span class="btn">Read</span>-->
			</div>
		</a>
	{% endfor %}
</div>

<script>

$(document).ready(function () {
	
	setTimeout(function () {
		$('#test').packery();
	}, 300);
	
});

</script>