---
layout: default
title: Welcome
---

<div class="post-listing">	
	{% assign counter = 0 %}
	{% for page in paginator.posts %}

		{% capture counter %}{{ counter | plus:1 }}{% endcapture %}
			
		<a class="post-preview text" href="{{ page.url }}">
			<div class="pad">

			
			
			{% if page.image %}
				<div class="img-container">
					<img src="{{ page.image }}" />
				</div>
			{% endif %}

			<h1>{{ page.title }}</h1>
			
			<p>{{ page.synopsis }}</p>
			
			<span class="btn">View <i class="fa fa-angle-right"></i></span>
			</div>
		</a>
	{% endfor %}
</div>
