<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ page.title }} - Sub Protocol</title>
	<meta name="author" content="Sub Protocol" />
	<meta charset="UTF-8" />
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,700|Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/css/pygments/friendly.css" />
</head>
<body>
	<a name="top"></a>
	<div id="header">
		<div class="container">
			<div class="left">
				<a class="logo" href="/">Sub<br/>Protocol</a>
				<p>
					Collective musings on &lt;code&gt;, #devops, {algorithm}, and randomness.
				</p>
			</div>
			<div class="right">
				The right
			</div>
			<div style="clear: both;">
			</div>
		</div>
	</div>
	<div class="content">
		{{ content }}
	</section>
	<div id="footer">
		<div class="container">
			<br/>Copyright &copy; 2013 Sub Protocol.
		</div>
	</div>
</body>
</html>