<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ page.title }} - Subprotocol</title>
	<meta name="author" content="Sub Protocol" />
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/css/pygments/friendly.css" />
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap" rel="stylesheet" />
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
	<link rel="alternate" href="/atom.xml" title="atom" type="application/atom+xml" />
	<link rel="alternate" href="/feed.xml" title="Subprotocol" type="application/rss+xml" />

	<!-- Referrerly Analytics -->
	<script src="//include.referrerly.com/measure.js" async></script>
	<script>
		window._rly = window._rly||[(function() {return arguments;})('d', new Date())];
		function referrerly(){_rly.push(arguments);}

		referrerly('property-id', 486682);
	</script>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
	<a name="top"></a>
	<div id="header">
		<div class="container">
			<div class="left">
				<a class="logo" href="/">SUBPROTOCOL<span> // PROPAGANDA</span></a>
				<p>
					Collective musings on &lt;code&gt;, #devops, {algorithm}, and randomness.
				</p>
			</div>
			<div class="right">
				<a class="home-btn" href="https://analytics.referrerly.com/account/486682/dashboard">Website Analytics <i class="fa fa-angle-right"></i></a>
			</div>
			<div class="right">
				<a class="github" href="http://github.com/subprotocol"><i class="fa fa-github"></i> GitHub</a>
				<a class="email" href="mailto:smprotocol@gmail.com"><i class="fa fa-envelope-square"></i> Contact Me</a>
			</div>
			<div style="clear: both;">
			</div>
		</div>
	</div>
	<div class="content container">
		{{ content }}
	</div>
	<div id="footer">
		<div class="container">
		
			{% if page.comments %}
			<div>
				<div id="disqus_thread"></div>
				<script type="text/javascript">

				var disqus_shortname = "subprotocol";
				
				{% if page.disqus_url %}
				var disqus_url = "{{ page.disqus_url }}";
				{% endif %}
				
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
				</script>
			</div>
			{% endif %}
		
			<br/><br/>Copyright &copy; Sub Protocol 2020.
		</div>
	</div>
</body>
</html>
