<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ page.title }} - Subprotocol</title>
	<meta name="author" content="Sub Protocol" />
	<meta charset="UTF-8" />
	{% if page.layout == "post" %}
	<meta name="viewport" content="width=1024" />
	{% else %}
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	{% endif %}
	<link rel="stylesheet" type="text/css" href="/css/style.css?version=1" />
	<link rel="stylesheet" type="text/css" href="/css/pygments/friendly.css" />
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap" rel="stylesheet" />
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
	<link rel="alternate" href="/atom.xml" title="atom" type="application/atom+xml" />
	<link rel="alternate" href="/feed.xml" title="Subprotocol" type="application/rss+xml" />

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-FQ8S0Q91FX"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-FQ8S0Q91FX');
	</script>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body class="layout-{{ page.layout }}">
	<a name="top"></a>
	<div id="header">
		<div class="container">
			<div class="left">
				<a class="logo" href="/">SUBPROTOCOL<span> // PROPAGANDA</span></a>
				<p>
					&lt;code&gt;, {algorithm}, and #randomness.
				</p>
			</div>
			<div class="right">
				<a class="github" href="http://github.com/subprotocol"><i class="fa fa-github"></i> GitHub</a>
				<a class="email" href="mailto:smprotocol@gmail.com"><i class="fa fa-envelope-square"></i> Contact Me</a>
			</div>
			<div style="clear: both;">
			</div>
		</div>
	</div>
	<div class="content container">
		{{ content }}
	</div>
	<div id="footer">
		<div class="container">
		
			{% if page.comments %}
			<div>
				<div id="disqus_thread"></div>
				<script type="text/javascript">

				var disqus_shortname = "subprotocol";
				
				{% if page.disqus_url %}
				var disqus_url = "{{ page.disqus_url }}";
				{% endif %}
				
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
				</script>
			</div>
			{% endif %}
		
			<br/><br/>Copyright &copy; Sub Protocol 2021.
		</div>
	</div>
</body>
</html>
