---
layout: default
---
<div id="article-nav">
	{% if page.previous %} 
		<a rel="prev" href="{{ page.previous.url }}">&larr; {{ page.previous.title }}</a>
	{% endif %}
	{% if page.next %}
		<a rel="next" href="{{ page.next.url }}">{{ page.next.title }} &rarr;</a>
	{% endif %}
</div>
<article>
	<section>
		<div style="float: right; width: 250px; height: 260px;">
			<div id="bsa" class="side-bsa">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Subprotocol -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:250px;height:250px"
				     data-ad-client="ca-pub-6482050434601272"
				     data-ad-slot="4629921653"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>
		
		{{ content }}
		<p>
			&mdash; <a href="mailto:{{ page.email }}">{{ page.author }}</a>
		</p>
	</section>
</article>